[submodule "Practica-Dirigida-1"]
	path = Practica-Dirigida-1
	url = https://github.com/JunalChowdhuryG/Practica-Dirigida-1
[submodule "Prueba_entrada_CC3S2"]
	path = Prueba_entrada_CC3S2
	url = https://github.com/JunalChowdhuryG/Prueba_entrada_CC3S2
[submodule "Practica-Dirigida-2"]
	path = Practica-Dirigida-2
	url = https://github.com/JunalChowdhuryG/Practica-Dirigida-2.git
[submodule "Practica-Dirigida-3"]
	path = Practica-Dirigida-3
	url = https://github.com/JunalChowdhuryG/Practica-Dirigida-3.git
[submodule "Practica-Dirigida-4"]
	path = Practica-Dirigida-4
	url = git@github-portafolio:JunalChowdhuryG/Practica-Dirigida-4.git
