[submodule "Practica-Dirigida-1"]
	path = Practica-Dirigida-1
	url = https://github.com/JunalChowdhuryG/Practica-Dirigida-1.git
[submodule "Prueba_entrada_CC3S2"]
	path = Prueba_entrada_CC3S2
	url = https://github.com/JunalChowdhuryG/Prueba_entrada_CC3S2
[submodule "Practica-Dirigida-2"]
	path = Practica-Dirigida-2
	url = https://github.com/JunalChowdhuryG/Practica-Dirigida-2.git
